<fieldset>
  <legend>Select brand:</legend>

  <div class="form__fieldset--first">
    <% if (errors && errors.brand_name) { %>
      <div class="error-message"><%= errors.brand_name.msg %></div>
    <% } %>
    
    <% if (brands.length > 0) { %>
      <% brands.forEach(brand => { %>
        <label class="form__label--radio">
          <input type="radio" name="brand_name" value="<%= brand.name %>" onclick="toggleBrandInput()" <%= product && product.brand_name === brand.name ? 'checked' : '' %> required>
          <%= brand.name %>
        </label>
      <% }) %>
    <% } %>
  </div>

  <div class="form__fieldset--second">
    <label class="form__label--radio">
      <input type="radio" name="brand_name" value="new_brand" <%= product && product.brand_name === "new_brand" ? 'checked' : '' %> onclick="toggleBrandInput()">
      Add New
    </label>

    <label>
      <input type="text" id="newBrandText" name="newBrandText" value="<%= product && product.newBrandText ? product.newBrandText : '' %>" class="<%= errors && errors.newBrandText ? 'input--error' : '' %>" <%= product && product.brand_name === "new_brand" ? '' : 'disabled' %> required>
    </label>
  </div>

</fieldset>