<fieldset>
  <legend>Select category:</legend>

  <div class="form__fieldset--first">
    <% if (categories.length > 0) { %>
      <% categories.forEach(category => { %>
        <label class="form__label--radio">
          <input type="radio" name="category_name" value="<%= category.name %>" onclick="toggleCategoryInput()" <%= product && product.category_name === category.name ? 'checked' : '' %> required>
          <%= category.name %>
        </label>
      <% }) %>
    <% } %>
  </div>

  <div class="form__fieldset--second">
    <label class="form__label--radio">
      <input type="radio" name="category_name" value="new_category" <%= product && product.category_name === "new_category" ? 'checked' : '' %> onclick="toggleCategoryInput()">
      Add New
    </label>

    <label>
      <input type="text" id="newCategoryText" name="newCategoryText" <%= product && product.category_name === "new_category" ? '' : 'disabled' %> required>
    </label>
  </div>

</fieldset>