<% if (errors) { %>
  <% errors.forEach(error => { %>
    <div><%= error.msg %></div>
  <% })%>
<% } %>

<% if (user) { %>
  <form action="/products/<%= product.id %>/review" method="POST">
    <label for="product-card__textarea">Leave a Review</label>
    <textarea name="review" id="product-card__textarea" rows="5" maxlength="1000"></textarea>
    <button type="submit">Comment</button>
  </form>
<% } %>

<% if (reviews && reviews.length > 0) { %>
  <% reviews.forEach(review => { %>
    <div class="product-card__review-item">
      <div class="product-card__review-message"><%= review.message %></div>
      <div class="product-card__review-user">
        <% if (user) { %>
          <%= review.username || "Deleted User" %>
        <% } %>
      </div>
      <div class="product-card__review-time"><%= review.time %></div>
    </div>
  <% }) %>
<% } else { %>
  <p>No reviews yet. Be the first to leave one!</p>
<% } %>