<fieldset>
  <legend>Select skintype:</legend>

  <div class="form__fieldset--first">
    <% if (skintypes.length > 0) { %>
      <% skintypes.forEach(skintype => { %>
        <label class="form__label--radio">
          <input type="radio" name="skintype_name" value="<%= skintype.name %>" onclick="toggleSkintypeInput()" <%= product && product.skintype_name === skintype.name ? 'checked' : '' %> required>
          <%= skintype.name %>
        </label>
      <% }) %>
    <% } %>
  </div>

  <div class="form__fieldset--second">
    <label class="form__label--radio">
      <input type="radio" name="skintype_name" value="new_skintype" <%= product && product.skintype_name === "new_skintype" ? 'checked' : '' %> onclick="toggleSkintypeInput()">
      Add New
    </label>

    <label>
      <input type="text" id="newSkintypeText" name="newSkintypeText" <%= product && product.skintype_name === "new_skintype" ? '' : 'disabled' %> required>
    </label>
  </div>

</fieldset>