<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product Card</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <dialog id="confirmDelete">
    <form  id="deleteForm" action="/products/<%= product.id %>?_method=DELETE" method="POST">
      <h3>Do you want to delete this product?</h3>
      <input type="hidden" name="_method" value="DELETE">
      <button type="button" onclick="cancelDelete()">Cancel</button>
      <button type="submit">Delete</button>
    </form>

  </dialog>

  <h3><%= product.name %></h3>
  <img src="<%= product.photo_url %>" alt="<%= product.name %>" />
  <p>Brand: <%= product.brand_name %></p>
  <p>Description: <%= product.description %></p>
  <p>Category: <%= product.category_name %></p>
  <p>Skin Type: <%= product.skintype_name %></p>

  <button>
    <a href="/products">Go Back</a>
  </button>

  <button>
    <a href="/forms/<%= product.id %>">Update</a>
  </button>

  <button onclick="confirmDelete()">
    Delete
  </button>

  <script>
    const dialog = document.getElementById("confirmDelete");    

    function confirmDelete() {
      dialog.showModal();
    }

    function cancelDelete() {
      dialog.close();
    }

  </script>
</body>
</html>