<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product Card</title>
</head>
<body>
  <h3><%= product.name %></h3>
  <img src="<%= product.photo_url %>" alt="<%= product.name %>" />
  <p>Brand: <%= product.brand_name %></p>
  <p>Description: <%= product.description %></p>
  <p>Category: <%= product.category_name %></p>
  <p>Skin Type: <%= product.skintype_name %></p>
  <button>
    <a href="/products">Go Back</a>
  </button>
</body>
</html>